{% extends '_base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">

{% block content %}
    <body>
        <h1>Recipes Home Page</h1>
        <ul>
            {% for recipe in recipes_list %}
                <li>
                    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <button type="submit"><a href="{% url 'recipe_create' %}">Add a New Recipe</a></button>
    </body>

{% endblock content %}
